body {
	font-family: sans-serif;
	margin: 20px;
	background-image: url('../images/paw_background.jpeg');
	text-align: center;

div{
	background-color: #FFFFE0;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px 5% 10px 5%;
	text-align: center;
	box-shadow: 2px 2px 8px;
}

	h1{
		font-family: 'Indie Flower', cursive;
		text-align: center;
		background-color: #FFFFE0;
		border-radius: 10px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	h2{
		font-family: 'Raleway', sans-serif;
		text-align: center;
		background-color: #fff;
		border-radius: 10px;
		padding-top: 10px;
		margin-top: 30px;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 2%;
		font-size: 160%;
	}

	h3{
		font-family: 'Raleway', sans-serif;
		text-align: center;
		background-color: #fff;
		border-radius: 10px;
		padding-top: 10px;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 2%;
		font-size: 160%;
	}

	.btn-success {
	font-family: 'Raleway', sans-serif;
  color: red;
  background-color: pink;
  border-color: red;
}

  .board {
  	background: yellow;
  	width: 300px;
  	height: 300px;
    margin-bottom: 20px;
  }

  // .square {
  // 	width: 100px;
  // 	height: 100px;
  // 	float: left;
	//
  //   &.red {
  //   	background: red;
  //   }
	//
  //   &.green {
  //   	background: green;
  //   }
  // }

  .animal {
    width: auto;
    height: 500px;
		text-align: center;

  }
}
